@import "tailwindcss";

:root {
  --color-app: #181818;
  --color-titlebar: #323233;
  --color-sidebar: #181818;
  --color-tabs: #252526;
  --color-editor: #1e1e1e;
  --color-terminal: #181818;
  --color-statusbar: #007acc;

  --color-border: #2d2d2d;
  --color-border-light: #3c3c3c;

  --color-text-primary: #d4d4d4;
  --color-text-muted: #858585;
  --color-text-heading: #ffffff;

  --color-keyword: #c586c0;
  --color-fn: #dcdcaa;
  --color-string: #ce9178;
  --color-comment: #6a9955;
  --color-type: #4ec9b0;
  --color-blue: #569cd6;
}

@theme inline {
  --color-app: var(--color-app);
  --color-titlebar: var(--color-titlebar);
  --color-sidebar: var(--color-sidebar);
  --color-tabs: var(--color-tabs);
  --color-editor: var(--color-editor);
  --color-terminal: var(--color-terminal);
  --color-statusbar: var(--color-statusbar);

  --color-border: var(--color-border);
  --color-border-light: var(--color-border-light);

  --color-primary: var(--color-text-primary);
  --color-muted: var(--color-text-muted);
  --color-heading: var(--color-text-heading);

  --color-keyword: var(--color-keyword);
  --color-fn: var(--color-fn);
  --color-string: var(--color-string);
  --color-comment: var(--color-comment);
  --color-type: var(--color-type);
  --color-blue: var(--color-blue);

  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--color-editor);
  color: var(--color-text-primary);
}
